[tool.ruff]
line-length = 88
target-version = 'py311'
respect-gitignore = true

[tool.ruff.lint]
select = [
    "E",   # Ошибки (PEP8)
    "F",   # Ошибки (Pyflakes)
    "B",   # Подозрительный код (flake8-bugbear)
    "I",   # Сортировка импортов (isort)
    "UP",  # Автоапгрейд синтаксиса (pyupgrade)
    "SIM", # Упрощение кода (flake8-simplify)
    "PD",  # Pandas-специфичные правила (опционально)
]

exclude = [
    ".git",
    "__pycache__",
    ".idea",
    "README.md",
    ".venv",
]

ignore = [
    "UP031",
    "I001"
]

[tool.ruff.lint.isort]
known-first-party = ["docx_gen"]
lines-between-types = 1

[tool.ruff.lint.per-file-ignores]
"main_runner.py" = ["ALL"]

